* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
        font-family: 'Bungee', cursive;
}

.header {
	height: 25%;
        background-color: #152563;
}

.logo {
	height: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}


nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #152563;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Bungee', cursive;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin: 0 1px;
}

nav a {
	display: block;
	padding: 25px 10px;
	text-decoration: none;
	color: inherit;
	text-align: center;
	text-transform: uppercase;
}

nav a:hover {
	background-color: blue;
}

.wallpaper{
         display: block;
         Clear: both;
         Border: 2px solid red;
}


.center-image {
	height: 40%;
        Margin: 50px auto;
	background-size: cover;
	background-position: center;
	display: block;
	align-items: center;
	justify-content: center;
        Clear:both;
        Text-align: center;
        Padding: 2px;
}

.content {
  margin-top: 10px; /* adjust as needed */
  Border: 2px solid red;
}

.logo-caption {
	font-size: 75px;
	text-align: center;
        padding: 5px 10px;
        color: #152563;
        Display: block;
        margin-top: 20px;
        Clear: both;

}

.local-est {
        Height: 15%;
	font-size: 50px;
	text-align: center;
        padding: 30px 10px;
        color: #152563;
        Display: block;
        margin-top: 20px;
        Clear: both;

}
 
.paragraph-container  {
   height: 500px;
  width: 100%;
  margin: 45px auto;
  padding: 20px;
  background-color:  #152563;
  border: 1px solid #ccc;
  color: #fff;
  Display: flex;
  align-items: center;
  text-align: center;
  font-size: 45px;
}



.mid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  Border: 2px solid red;
}

.left-div {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  Border: 2px solid red;
  height: 100px;
  Font size: 100px;
}

.right-div {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 2px solid red;
  Height:600 px;
}

h3 {
  font-size: 90;
  Color: #152563;
}


.muffin-image {width: 100%;
  max-width: 800px;
}




